<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Videos</title>
</head>
<body>
    <h1>All Uploaded Videos</h1>
    <ul>
        <% videos.forEach(function(video) { %>
            <li>
                <h2><%= video.original_name %> (Size: <%= video.size %> bytes)</h2>
                <video width="320" height="240" controls>
                    <source src="<%= video.url %>" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </li>
        <% }); %>
    </ul>
</body>
</html>
